<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Credentials</title>
    <!-- Add Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
<!-- header section -->
<header class="fixed top-0 left-0 w-full bg-white shadow-md z-10 h-20">
  <div class="container h-full min-w-full flex justify-between items-center p-4">
    <!-- Logo Wrapper -->
    <div class="h-full w-44  ">
      <img 
        class="h-full w-full object-cover" 
        src="/images/knoqlogicologico.svg" 
        alt="Company Logo" 
      />
    </div>
      
      <!-- Desktop Navigation -->
      <nav class="hidden md:flex space-x-6">
        <a href="/user/<%= currentUser %>/dashboard" class="text-gray-800 hover:text-blue-500">Dashboard</a>
        <a href="/logout" class="text-gray-800 hover:text-blue-500">Logout</a>
      </nav>
      
      <!-- Mobile Menu Button -->
      <button id="menu-toggle" class="md:hidden text-gray-800 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
    
    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden bg-gray-100 md:hidden">
      <a href="/user/<%= currentUser%>/dashboard"  class="block px-5 py-2 text-gray-800 hover:bg-blue-500 hover:text-white">Dashboard</a>
      <a href="/logout" class="block px-5 py-2 text-gray-800 hover:bg-blue-500 hover:text-white">Logout</a>
    </div>
  </header>

    <div class="container mx-auto px-4 py-6 mt-20">
        <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Client Credentials</h1>
        <div class="flex justify-center mb-6">
            <a href="/credential/addcredential" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded shadow-md transition duration-300">
                Add Credential
            </a>
        </div>
        <div class="overflow-x-auto">
            <table class="table-auto w-full border-collapse border border-gray-300 shadow-lg">
                <thead>
                    <tr class="bg-blue-500 text-white">
                         <th class="px-4 py-2 border border-gray-300">Client Name</th>
                        <th class="px-4 py-2 border border-gray-300">Email</th>
                       
                        <th class="px-4 py-2 border border-gray-300">Type</th>
                        <th class="px-4 py-2 border border-gray-300">Current Password</th>
                        <th class="px-4 py-2 border border-gray-300">Previous Password</th>
                        <th class="px-4 py-2 border border-gray-300">Update</th>
                    </tr>
                </thead>
                <tbody>
                    <% clientCredentials.forEach(credential => { %>
                        <tr class="bg-white hover:bg-gray-100 text-gray-800">
                             <td class="px-4 py-2 border border-gray-300 text-center"><%= credential.client_credential_name %></td>
                            <td class="px-4 py-2 border border-gray-300 text-center"><%= credential.client_credential_email %></td>
                           
                            <td class="px-4 py-2 border border-gray-300 text-center"><%= credential.client_credential_type %></td>
                            <td class="px-4 py-2 border border-gray-300 text-center"><%= credential.client_credential_password %></td>
                            <td class="px-4 py-2 border border-gray-300 text-center"><%= credential.client_credential_previous_password %></td>
                            <td class="px-4 py-2 border border-gray-300 text-center">
                                <!-- Update Link with client_credential_id as query parameter -->
                                <a href="/credential/update-credential?client_credential_id=<%= credential.client_credential_id %>" class="text-blue-500 hover:text-blue-700">Edit</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const menuToggle = document.getElementById("menu-toggle");
        const mobileMenu = document.getElementById("mobile-menu");
    
        menuToggle.addEventListener("click", () => {
          mobileMenu.classList.toggle("hidden");
        });
        </script>
</body>
</html>
