<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/dashboard.css">
    <title>Document</title>
</head>

<body>


    <h1>Welcome,
        <%= user.firstName %>!</h1>
    <p>Email:
        <%= user.email %>
    </p>
    <p>User id:
        <%= user.id %>
    </p>
    <p>Role:
        <%= user.role %>
    </p>
    <a href="/users/<%= user.id %>/edit">Edit Profile</a> 
    <a href="/logout">Logout</a> 
    <a href="/leads/create">Add Lead</a>
    <a href="/leads">view leads</a>



</body>

</html>