<!DOCTYPE html>
<html>

<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="../stylesheets/userEdit.css">
</head>

<body>
    <h1>Edit User</h1>
    <form method="POST" action="/user/<%= user.user_id %>/edit">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" value="<%= user.first_name %>"><br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" value="<%= user.last_name %>"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= user.email %>"><br><br>

        <label for="role">Role:</label>
        <select id="role" name="roleId" required>
            <option value="">Select Role</option>
            <% roles.forEach(role => { %>
              <option value="<%= role.role_id %>" <% if (user.user_role_id === role.role_id) { %>selected<% } %>><%= role.roles_name %></option>
            <% }); %>
          </select><br><br>

        <button type="submit">Save Changes</button>
    </form>
</body>

</html>