<!DOCTYPE html>
<html>

<head>
    <title>Leads</title>
    <link rel="stylesheet" href="../stylesheets/table.css">
</head>

<body>
    <h1>Leads</h1>
    <table>
        <thead>
            <tr>
                <th>Contact Name</th>

                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Created by</th>
                <th>Assign To</th>
                <th>Lead Score</th>
                <th>Lead Created At</th>
                <th>Lead Updated At</th>
            </tr>
        </thead>
        <tbody>
            <% leads.forEach(lead => { %>
                <tr>
                    <td>
                        <a href="/leads/<%= lead.lead_id %>/edit">
                            <%= lead.first_name %>
                                <%= lead.last_name %>
                        </a>
                    </td>
                    <td>
                        <%= lead.email %>
                    </td>
                    <td>
                        <%= lead.phone_number %>
                    </td>
                    <td>
                        <%= lead.company_name %>
                    </td>
                    <td>
                        <a href="/users/creator/<%= lead.created_by %>"><%= lead.createdByFullName %></a> 
                    </td>
                    <td>
                        <select name="lead_owner_id" id="assignToDropdown" data-lead-id="<%= lead.lead_id %>"> 
                            <option value="">Select User</option> 
                            <% users.forEach(user => { %>
                                <option value="<%= user.user_id %>" <% if (lead.lead_owner_id === user.user_id) { %>selected<% } %>>
                                    <%= user.full_name %> 
                                </option>
                            <% }); %>
                        </select>
                        <a href="/users/<%= lead.lead_owner_id %>">view</a> 
                    </td>
                    <td>
                        <%= lead.lead_score %>
                    </td>
                    <td>
                        <%= new Date(lead.created_at).toLocaleString() %>
                    </td>
                    <td>
                        <%= new Date(lead.updated_at).toLocaleString() %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <script>
        const dropdownElements = document.querySelectorAll('#assignToDropdown');

        dropdownElements.forEach(dropdown => {
            dropdown.addEventListener('change', async(event) => {
                const leadId = event.target.dataset.leadId;
                const selectedUserId = event.target.value;

                try {
                    const response = await fetch(`/leads/${leadId}/assign`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            selectedUserId
                        })
                    });

                    if (!response.ok) {
                        const errorMessage = await response.text(); // Get error message from server
                        throw new Error(`Failed to update lead owner: ${errorMessage}`);
                    }

                    const data = await response.json();
                    alert(data.message);

                } catch (error) {
                    console.error('Error updating lead owner:', error);
                    alert('Error updating lead owner. Please try again.');
                }
            });
        });
    </script>

</body>

</html>