<!DOCTYPE html>
<html>

<head>
    <title>Leads</title>
    <link rel="stylesheet" href="../stylesheets/table.css">
</head>


<body>
    <h1>Leads</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>

                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Assign to</th>

                <th>Lead Score</th>

                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            <% leads.forEach(lead => { %>
                <tr>
                    <td>
                        <a href="/leads/<%= lead.lead_id %>/edit">
                            <%= lead.first_name %>
                                <%= lead.last_name %>
                        </a>
                    </td>
                    <td>
                        <%= lead.email %>
                    </td>
                    <td>
                        <%= lead.phone_number %>
                    </td>
                    <td>
                        <%= lead.company_name %>
                    </td>
                    <td>
                        <% if (lead.ownerFirstName || lead.ownerLastName) { %>
                            <a href="/users/<%= lead.lead_owner_id %>">
                                <%= lead.ownerFirstName %>
                                    <%= lead.ownerLastName %>
                            </a>
                            <% } else { %>
                                -
                                <% } %>
                    </td>
                    <td>
                        <%= lead.lead_score %>
                    </td>
                    <td>
                        <%= new Date(lead.created_at).toLocaleString() %>
                    </td>
                    <td>
                        <%= new Date(lead.updated_at).toLocaleString() %>
                    </td>

                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>

</html>