<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opportunities</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">

    <header class="fixed top-0 left-0 w-full bg-white shadow-md z-10">
        <div class="container mx-auto flex justify-between items-center p-5">
          <div>
            <a href="#" class="text-2xl font-bold text-gray-800">Logo</a>
          </div>
          <nav class="hidden md:flex space-x-6">
            <a href="/user/<%= currentUserId %>/dashboard"
              class="text-gray-800 hover:text-blue-500">Dashboard</a>
            <a href="/users/login"
              class="text-gray-800 hover:text-blue-500">Logout</a>
          </nav>
          <button id="menu-toggle"
            class="md:hidden text-gray-800 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
        <div id="mobile-menu" class="hidden bg-gray-100 md:hidden">
          <a href="/user/<%= currentUserId %>/dashboard"
            class="block px-5 py-2 text-gray-800 hover:bg-blue-500 hover:text-white">Dashboard</a>
          <a href="/users/login"
            class="block px-5 py-2 text-gray-800 hover:bg-blue-500 hover:text-white">Logout</a>
        </div>
      </header>
    <div class="container mx-auto p-6 bg-white  rounded-lg mt-20">
        <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Opportunities</h1>
        
    <div id="leadsTableContainer"
      class="overflow-x-auto bg-white  rounded-lg">
      <table class="w-full border-collapse border border-gray-200">
        <thead class="bg-blue-500 text-white">
          <tr>
            <th class="py-2 px-4 text-center">Contact Name</th>
            <th class="py-2 px-4 text-center">Email</th>
            <th class="py-2 px-4 text-center">Phone</th>
            <th class="py-2 px-4 text-center">Emergency Phone </th>
            <th class="py-2 px-4 text-center">Company</th>
            <th class="py-2 px-4 text-center">Current Address</th>
            <th class="py-2 px-4 text-center">Permanent Address</th>
            
          </tr>
        </thead>
        <tbody class="text-gray-800">
            <% if (leads.length > 0) { %>
            <% leads.forEach(lead => { %>
            <tr class="border-b hover:bg-gray-50">
              <td class="py-3 px-6 text-center">
                <a href="/leads/<%= lead.lead_id %>"
                  class="text-blue-500 hover:underline  capitalize">
                  <%= lead.first_name %> <%= lead.last_name %>
                </a>
              </td>
              <td class="py-3 px-6 text-center"><%= lead.email %></td>
              <td class="py-3 px-6 text-center"><%= lead.phone_number %></td>
              <td class="py-3 px-6 text-center"><%= lead.emergency_phone_number %></td>
              <td class="py-3 px-6 text-center"><%= lead.company_name %></td>
              <td class="py-3 px-6 text-center"><%= lead.current_address %></td>
              <td class="py-3 px-6 text-center"><%= lead.permanent_address %></td>
            </tr>
            <% }); %>
            <% } else { %>
            <tr>
              <td colspan="9" class="py-3 px-6 text-center text-gray-500">No leads
                found.</td>
            </tr>
            <% } %>
          </tbody>
            </table>
        </div>

       
    </div>
</body>
</html>
